/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/* Set width of body */
body {
	max-width: 876px; /* Width of image divider in middle of page */
	margin: auto;
}

/* Header styles */
header nav, header .logo {
	display: inline-block;
}
header .logo {
	float: right;
}
header nav {
	margin: 30px;
}
header .logo {
	margin: 20px;
}
header nav a {
	margin: 15px;
	color: gray;
	text-decoration: none;
}

/* CTA styles */
.cta {
	margin: 50px 0;
}
.cta-left, .cta-right {
	display: inline-block;
	width: 49%;
	vertical-align: middle;
	text-align: center;
}
.cta h1 {
	font-size: 60px;
}
.cta-btn {
	padding: 5px 30px;
	background: #fff;
	border: 2px solid #000;
}

/* Split up section content boxes */
section, section .content-box {
	display: inline-block;
	float: left;
}
section:first-child .content-box {
	width: 50%;
}
section:last-child .content-box {
	width: 33%;
}

/* Space out middle image */
.middle-img {
	margin: 50px auto;
}

/* Add border above and below main content area */
main {
	display: inline-block;
	padding: 50px 0;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

/* Add margin above footer */
footer {
	margin-top: 50px;
}
/* Add spacing between footer text */
footer p {
	margin: 10px 0;
}
footer .copyright {
	text-align: center;
	margin: 50px 0;
}